.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding: 20px;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

.tag {
  background-color: #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 20px ;
  display: inline-block;
  color: black;
}


.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.button:hover {
  color: darkcyan;
  border-color: darkcyan;
}


.closeButton {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}
