
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  flex-grow: 0;
}
.movie {
  width: 100px;
  text-align: center;
}

.movie img {
  width: 100%;
}

.movie-text {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noImage {
  width: 100%;
  height: 140px;
  border: 1px solid #ccc;
  background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
  );
}
